<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>View Logged Sleepiness</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <p>
    Logged Sleepiness
  </p>
  <!--p>
    {{firstDate}} 
  </p-->

<table>
  <tr *ngFor="let item of testItems | async">
    <td>  {{ item.dateString }} 
    <br>
     {{ item.summaryString }} </td>
    </tr>

   <!--tr *ngFor="let x of sStrings">
      <td>
        {{ tempDate }}<br> 
        {{ x }} 
      </td>
  </tr-->
</table>
  
  <ion-item>
    <ion-button fill="outline" (click)="btnClicked2()">View Logged Sleepiness</ion-button>
  </ion-item>
  

</ion-content>
